# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Dev-рантайм
run/
runs/
logs/
crash-reports/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/
out/

# OS
Thumbs.db
Desktop.ini
.DS_Store
